h1 {
	text-align: center;
}

hr {
	color:	gray;
}

td, th, table {
	border: 1px solid gray;
	background: lightgray;
	text-align: center;
}

table {
	width:85vw;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.lists-divs {
	text-align: center;
	float:left;
	width: 50%;
}

.lists-text {
	text-align: left
}


.clearfix:after {
	content: "";
	display: block;
	clear: both;
	margin-bottom: 40px;
}



.second-head {
	background: #C3DBFF;
	border: 1px solid #2379FA;
	float: left;
	width: 33%;
	height: 3em;
	text-align: center;
	vertical-align: middle;
	line-height: 3em;
}

.bottom-divs-sel {
	margin-top: 2em;
}

.bottom-divs {
	width: 8em;
	height: 8em;
	margin-left: 7%;
	margin-right: 7%;
	float: left;
	border-width: 3px;
	border-style: solid;

}
.one {
	background: green;
	border-color: black;
	border-radius: 4em;
}
.two {
	background: purple;
	border-color: black;

}
.three {
	background-image: url('../images/rabbit-correct.jpg');
	background-size: 15em;
	border-color: blue;
}